/* reset styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:link {
    text-decoration: none;
}
a:visited {
    text-decoration: none;
}
input:focus{
    outline: none;
}
li {
    list-style-type: none;
}
input[type=number] {
    appearance: textfield;
}
button {
    outline: 0;
}
button:focus {
    outline: none;
}

.container {
    padding: 0 50px;
}

/* header */
.header {
    &-top {
        display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        justify-content: space-between;
        color: #331B3B;
        font-family: Hind Vadodara;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.16px;
        width: 100%;
    }
    &__logo {
        color: #331B3B;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.24px;
        font-family: Playfair Display;
    }
    &__social {
        display: flex;
        width: 100%;
        justify-content: end;
        &-item {
            padding-left: 16px;
        }
    }
    &__content {
        display: flex;
        justify-content: space-between;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        color: #331B3B;
        font-size: 87px;
        font-style: normal;
        font-weight: 700;
        line-height: 99.8%; /* 86.826px */
        letter-spacing: -0.87px;
        font-family: Hind Vadodara;
        position: relative;
        &-span {
            color: #331B3B;
            font-size: 87px;
            font-style: normal;
            font-weight: 300;
            line-height: 99.8%;
            letter-spacing: -0.87px;
            font-family: Hind Vadodara;
        }
        &-span::after {
            content: "";
            background-color: #FDC221;
            width: 291px;
            height: 20px;
            display: block;
            position: absolute;
            bottom: 10px;
            z-index: -1;
        }
    }
    &__text {
        color: rgba(51, 27, 59, 0.66);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 146.3%; /* 24.871px */
        letter-spacing: 0.34px;
        font-family: Hind Vadodara;
    }
    &__button {
        border-radius: 10px;
        border: none;
        background: #331B3B;
        height: 66px;
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        line-height: 137.3%; /* 23.341px */
        letter-spacing: 0.34px;
        text-transform: uppercase;
        font-family: Hind Vadodara;
    }
    &__images {
        background: url(../img/header-img.png);
        background-size: cover;
        width: 100%;
        animation: animate 5s ease-in-out infinite;
        transition: all 1s ease-in-out;
    }
}

@keyframes animate {
    0%, 100% {
        border-radius: 60% 40% 40% 70% / 60% 50% 60% 50%;
    }
    50% {
        border-radius: 55% 55% 70% 40% / 40% 50% 60% 70%;
    }
}

@media(min-width: 1400px) {
    .header {
        padding: 0 50px;
        &-top {
            padding-top: 43px;
        }
        &__menu {
            max-width: 352px;
        }
        &__social {
            max-width: 352px;
        }
        &__content {
            padding-top: 82px;
        }
        &__description {
            max-width: 515px;
        }
        &__title {
            padding-top: 62px;
        }
        &__text {
            padding-top: 22px;
        }
        &__button {
            width: 207px;
        }
        &__images {
            max-width: 812px;
        }
    }
}

@media(min-width: 1920px) {
    .header {
        padding: 0 86px;
        &-top {
            padding-top: 53px;
        }
        &__menu {
            max-width: 382px;
        }
        &__social {
            max-width: 382px;
        }
        &__content {
            padding-top: 92px;
        }
        &__description {
            max-width: 568px;
        }
        &__title {
            padding-top: 72px;
        }
        &__text {
            padding-top: 27px;
        }
        &__button {
            width: 227px;
            margin-top: 31px;
        }
        &__images {
            max-width: 912px;
        }
    }
}
